* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-weight: 400;
  color: rgb(32, 32, 32);
  background-color: #757575;
}

.biodata {
  text-align: center;
  /*membuat semua huruf menjadi kapital*/
  text-transform: uppercase;
  font-size: 15pt;
  padding-bottom: 15px;
}

.kotak {
  width: 350px;
  background: rgb(255, 255, 255);
  /*meletakkan form ke tengah*/
  margin: 50px auto;
  padding: 20px 20px;
  border-radius: 10px;
}

.output {
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

label {
  font-size: 13pt;
}

.nama {
  /*membuat lebar form penuh*/
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 20px;
}

.tombol {
  background: #46de4b;
  color: white;
  font-size: 11pt;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}
